<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="jp.co.sony.mc.cameraapp" platformBuildVersionCode="36" platformBuildVersionName="16">
    <compatible-screens/>
    <queries>
        <package android:name="com.sonyericsson.android.camera3d"/>
        <package android:name="com.android.musicfx"/>
        <package android:name="com.sonymobile.providers.media"/>
        <package android:name="com.google.android.googlequicksearchbox"/>
        <intent>
            <action android:name="com.android.camera.action.REVIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="image/jpeg"/>
        </intent>
        <intent>
            <action android:name="com.android.camera.action.REVIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <data android:mimeType="image/x-adobe-dng"/>
        </intent>
        <intent>
            <action android:name="com.sonymobile.moviecreator.intent.action.EDIT"/>
            <data android:mimeType="video/mp4"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <permission android:name="com.sonymobile.permission.SOMC_CAMERA" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="com.sonymobile.permission.CAMERA_ADDON"/>
    <uses-permission android:name="com.sonymobile.permission.CAMERA_STATUS_PROVIDER"/>
    <uses-permission android:name="com.sonymobile.permission.SOMC_CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.sonymobile.gameenhancer.monitor.provider.permission.READ"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <permission android:name="jp.co.sony.mc.cameraapp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="jp.co.sony.mc.cameraapp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:enableOnBackInvokedCallback="false" android:extractNativeLibs="false" android:hardwareAccelerated="true" android:icon="@drawable/camera_app_icn" android:label="@string/camera_strings_application_name" android:largeHeap="true" android:name="jp.co.sony.mc.camera.CameraApplication" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@style/CameraApplicationTheme">
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="true" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.CameraActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/CameraActivityTheme" android:turnScreenOn="true" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.InternalCameraActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/CameraActivityTheme" android:turnScreenOn="true" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="true" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.CameraGestureTriggerActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:taskAffinity="jp.co.sony.mc.camera.gesturetrigger" android:theme="@style/CameraActivityTheme" android:turnScreenOn="true" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="true" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.CameraGestureTriggerActivityOnLockScreen" android:resizeableActivity="false" android:screenOrientation="sensor" android:showWhenLocked="true" android:taskAffinity="jp.co.sony.mc.camera.gesturetrigger" android:theme="@style/CameraActivityTheme" android:turnScreenOn="true" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="mcc|mnc|keyboardHidden|orientation|uiMode|screenSize" android:excludeFromRecents="true" android:exported="true" android:label="@string/camera_strings_application_name" android:name="jp.co.sony.mc.camera.OneshotPhotoActivityOnLockScreen" android:resizeableActivity="false" android:screenOrientation="sensor" android:showWhenLocked="true" android:theme="@style/CameraActivityTheme" android:turnScreenOn="true" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation" android:excludeFromRecents="true" android:exported="true" android:name="jp.co.sony.mc.camera.CameraImageActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:showWhenLocked="true" android:theme="@style/SomcCameraBlackScreenTheme" android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:label="@string/camera_strings_application_name" android:name="jp.co.sony.mc.camera.OneshotPhotoActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/CameraActivityTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="true" android:name="jp.co.sony.mc.camera.MultiWindowActivity" android:resizeableActivity="true" android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="true" android:label="@string/camera_strings_capture_video_tab_label" android:name="jp.co.sony.mc.camera.MultiWindowVideoActivity" android:targetActivity="jp.co.sony.mc.camera.MultiWindowActivity" android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:label="@string/camera_strings_capture_video_tab_label" android:name="jp.co.sony.mc.camera.OneshotVideoActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/CameraActivityTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="true" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.SaveLocationSettingActivity" android:resizeableActivity="true" android:taskAffinity="jp.co.sony.mc.camera.savelocation" android:theme="@style/Theme.AutoModeSettings" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.camera.action.LOCATION_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.ProModeCameraSettingsActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/Theme.CameraSettings" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.BasicModeCameraSettingsActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/Theme.AutoModeSettings" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.DataConsentActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/CameraActivityTheme"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="jp.co.sony.mc.camera.RequestPermissionActivity" android:resizeableActivity="true" android:showWhenLocked="true" android:theme="@style/CameraActivityTheme" android:turnScreenOn="true"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="jp.co.sony.mc.camera.SetupWizardActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/SomcCameraTheme" android:turnScreenOn="true"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.debug.DebugMenuActivity" android:taskAffinity="com.sonyericsson.photopro.debugmenu" android:theme="@style/Theme.DebugMenu">
            <intent-filter>
                <action android:name="com.sonyericsson.debugmenu.ENTRY_INTENT"/>
                <category android:name="com.sonyericsson.debugmenu.ENTRY_CATEGORY"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/debug_preference_entry_title_camera_settings" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.debug.DebugCameraSettingsActivity" android:taskAffinity="com.sonyericsson.photopro.debugmenu" android:theme="@style/Theme.DebugCameraSettingsMenu"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.GoogleLensActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:showWhenLocked="true" android:taskAffinity="jp.co.sony.mc.camera.googlelensmode" android:theme="@style/SomcCameraTheme" android:turnScreenOn="true"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:inheritShowWhenLocked="true" android:name="jp.co.sony.mc.camera.calibration.ui.SpiritLevelCalibrationActivity" android:resizeableActivity="false" android:screenOrientation="landscape" android:theme="@style/SomcCameraCalibrationTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.MemoryRecallActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:showWhenLocked="true" android:theme="@style/Theme.MemoryRecall" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.BasicRemoconMenuActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/Theme.AutoModeSettings" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.RemoconMenuActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/Theme.AutoModeSettings" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.RecommendedSettingsActivity" android:resizeableActivity="false" android:screenOrientation="sensor" android:theme="@style/Theme.AutoModeSettings" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:label="@string/camera_strings_application_name" android:launchMode="singleTask" android:name="jp.co.sony.mc.camera.CreateYouTubeLiveEventActivity" android:resizeableActivity="false" android:screenOrientation="fullSensor" android:showWhenLocked="false" android:theme="@style/CameraActivityTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:exported="false" android:foregroundServiceType="camera" android:minSdkVersion="34" android:name="jp.co.sony.mc.camera.service.SavingService"/>
        <receiver android:exported="false" android:name="jp.co.sony.mc.camera.RecommendedSettingNotificationReceiver">
            <intent-filter>
                <action android:name="jp.co.sony.mc.camera.intent.action.RECOMMEND_SETTINGS_NOTIFICATION_DO_NOT_SHOW_AGAIN"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="jp.co.sony.mc.camera.rtmp.ShareLiveUrlResultReceiver"/>
        <uses-library android:name="com.sony.device" android:required="true"/>
        <uses-library android:name="com.sonyericsson.idd" android:required="false"/>
        <service android:name="com.sonymobile.camera.bleremotecontrol.BleRemoteControlService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="net.openid.appauth.AuthorizationManagementActivity" android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar"/>
        <activity android:exported="true" android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="jp.co.sony.mc.cameraapp"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.activity.ComponentActivity"/>
        <activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity"/>
        <provider android:authorities="jp.co.sony.mc.cameraapp.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
